body {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 100%
}

.container { 
  @include min-max(320px, 100%); 
}


.wrap {
  @include min-max(320px, 1920px);
  width: 100%;
  padding: 0 23.125rem;
  box-sizing: border-box;
}

.header__wrap {
    background: url(#{$base-url}/assets/img/background.png) no-repeat;
    //  background: url(../../assets/img/background.png) no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: fit-content;

   position: relative;
  overflow: hidden;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: url(../../assets/img/about-background.png) no-repeat;
     background: url(#{$base-url}/assets/img/about-background.png) no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
  }
}


.intro-wrap {
  padding: 0 2.781rem;
}


body, 
html {
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  color: $outer-space;
}


a {
  text-decoration: none;
 
}

@media (max-width: 1620px) {
  html {
    font-size: 85%;
  }

    .wrap {
  padding: 0 15.125rem;
}
}

@media (max-width: 1320px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1184px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }

      .wrap {
  padding: 0 7.125rem;

}
}

@media (max-width: 820px) {
 html {
  font-size: 75%;
 }
}

@media (max-width: 710px) {
 html {
  font-size: 65%;
 }

  .wrap {
  padding: 0 5.125rem;

}
}

@media (max-width: 580px) {
 html {
  font-size: 50%;
 }

}

@media (max-width: 460px) {
  html {
    font-size: 65%;
  }

  .wrap {
  padding: 0 1.5rem;

}

.header__wrap {

    &::before {
      width: 100%;
      height: 100%;
      background-size: cover;
    }

  }

}


  
